[Unit]
Description=Run MyApp monitor every 10 seconds

[Timer]
OnBootSec=10s
OnUnitActiveSec=10s
RandomizedDelaySec=0
Unit=myapp-monitor.service

[Install]
WantedBy=timers.target
